# Testresults


* Latest tests done on version: XXX.XXX.XXX


## System Test Results:

* Functional tests run X pcs
* Pass Rate Z%
* Fail
* Issues reported: # 1, # 2, # 123

## Link to results

<iframe height="1000" src="http://testlink.labranet.jamk.fi/testlink/lnl.php?apikey=24dd003aac8457938e1778808d65efe331b422290d02d734fe503a60dcf3d01b&tproject_id=2&tplan_id=664&type=charts_basic" style="border: currentColor; border-image: none;" width="100%"></iframe>


<iframe height="1000" src="http://testlink.labranet.jamk.fi/testlink/lib/results/resultsByStatus.php?type=f&apikey=24dd003aac8457938e1778808d65efe331b422290d02d734fe503a60dcf3d01b&tproject_id=2&tplan_id=664&format=0" style="border: currentColor; border-image: none;" width="100%"></iframe>

## Load: 5/5 (Network load)

* 5/5

## Stability: 1/5

* Not completed

## Quality Review

* Results of static analysis:

## Unit Test Results: